header {
    background-color: black;
}
.nav-link {
    color: whitesmoke;
}
footer {
    background: #151515;
}
body {
    background-color: rgb(255, 0, 0)
}
.branco {
    background-color: white;
    transition: all 0,25s ease-in-out;
}
.vermelho {
    background-color: #ff0000;
    transition: all 0,25s ease-in-out;
}